<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <header>
    <h1>Raed Jarboui</h1>
    <h2>Web Developer</h2>
  </header>
  <a href="#">Github</a>
  <a href="#">Linkedin</a>
  <main>
    <p>
      Hello! I’m dedicated Java developer with 2 years of experience in building robust applications and driving innovation. I thrive in collaborative environments where I can leverage my skills in Java, Spring, Hibernate, and RESTful APIs to create efficient solutions that meet user needs.
    </p>
    <p>Proficient in <span class="java">Java SE/EE</span>, Spring Framework, and Microservices architecture
      Experience with database technologies like MySQL, PostgreSQL, and MongoDB
      Strong understanding of Agile methodologies and DevOps practices
      Committed to writing clean, maintainable code and delivering high-quality software</p>
      <p>I believe in continuous learning and staying updated with the latest industry trends. Whether it's exploring new frameworks or enhancing my skills in cloud computing, I’m always eager to tackle new challenges.</p>
  </main>
  <footer>
    <p>Raed Jarboui Page 1</p>
  </footer>
</body>
</html>